<div class="Screen">
<%= form_for @screen do |f| %>
  <% if @screen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screen.errors.count, "error") %> prohibited this screen from being saved:</h2>

      <ul>
        <% @screen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= f.hidden_field :theater_id, value: @theater&.id %><br><br>
  </div>

  <div class="field">
    <%= f.label :screen_name %>
    <%= f.text_field :screen_name %><br><br> 
  </div>   

  <div class="field">
    <%= f.label :total_seats %>
    <%= f.text_field :total_seats%><br><br> 
  </div> 

  <div id="time-slots-container"> 
  <% f.object.slots.each do |slot| %>
    <%= f.fields_for :slots, slot  do |slot_fields| %> 
      <div class="field time-container"> 
        <%= slot_fields.label :start_time %>  
        <%= slot_fields.time_select :start_time%>
      </div>
      <div class="field time-container"> 
        <%= slot_fields.label :end_time %>  
        <%= slot_fields.time_select :end_time%><br><br>
      </div>
    <% end %>
  <% end %>
  </div>

  <button type="button" id="add-time-slot-btn" >Add Time Slot</button><br><br>
 
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Screen.statuses.keys ,{prompt: true}%><br><br> 
  </div>   

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %><br> 
<%= link_to 'Back to Screens', screens_path %>
</div> 

<script>
  var index = <%= @screen.slots.size %>;
  var container = document.getElementById('time-slots-container');
  var addButton = document.getElementById('add-time-slot-btn');

  addButton.addEventListener('click', function () {
    index++;

    var slotFields = document.createElement('div');
    slotFields.className = 'field';
    slotFields.innerHTML =
      '<label>Start Time</label>' +
      '<input type="time" name="screen[slots_attributes][' + index + '][start_time]" class="time-slot-input">' +
      '<label>End Time</label>' +
      '<input type="time" name="screen[slots_attributes][' + index + '][end_time]" class="time-slot-input">';

    container.appendChild(slotFields);
  });
</script>

