<h1>Reset Password </h1> 
<div class="card_edit">
  <%= form_with(model: @user, url: reset_password_path, method: :post) do |form| %>
    <%= form.hidden_field :reset_password_token %> 
      
      <div class="field"> 
        <%= form.hidden_field :email,value: params[:email] %><br>
      </div>
      
      <div class="field">
        <%= form.label :new_password %><br>
        <%= form.password_field :new_password %>
      </div>

      <div class="field">
        <%= form.label :confirm_new_password %><br>
        <%= form.password_field :confirm_new_password %><br>
      </div>

      <div class="actions">
        <%= form.submit 'Reset Password' %> 
      </div>
  <% end %> 
</div> 


