<h1>Show Details</h1>
<div class="Show">
<p><strong>Screen Name:</strong><%= @show.screen.screen_name %></p>
<p><strong>Show Name:</strong> <%= @show.name %></p> 
<p><strong>Total Seats:</strong> <%= @show.total_seats %></p> 
<p><strong>Remaining Seats:</strong> <%= @show.remaining_seats %></p>
<p><strong>Duration:</strong> <%= @show.duration.strftime("%H:%M") %></p>  
<p><strong>Recurring:</strong> <%= @show.recurring %></p> 
<p><strong>Start Date:</strong> <%= @show.start_date %></p> 
<p><strong>End Date:</strong> <%= @show.end_date %></p>
<%= link_to 'Back to Shows', shows_path %>
</div>