<h1>Review </h1> 
<div class="review-form">
 <%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="field">  
    <%= f.label :theater%> :- 
    <%= f.label :theater, value: @review.theater&.name %> 
    <%= f.hidden_field :theater, value: @review.theater&.name%><br><br>
  </div> 

  <div class="field">  
    <%= f.label :show %> :- 
    <%= f.label :show, value: @review.show&.name %> 
    <%= f.hidden_field :show, value: @review.show&.name%><br><br>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <div class="rating">
      <%= f.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
        <%= star.radio_button %>
        <%= star.label(class: "text-white") %>
      <% end %>
    </div>
  </div><br> 

  <div class="field">
    <%= f.label :feedback %> 
    <%= f.text_field :feedback%><br>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %><br>  

<%= link_to ' Back to Reviews',  reviews_path %> 
</div> 

